* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

nav button:hover {
    background-color: #555;
}

nav a {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #333;
    background-color: #dddddd;
    color: #333;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

nav a:hover {
    background-color: #ddd;
}

.login {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.leaderboard {
    width: 20%;
}

.leaderboard h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.leaderboard ul {
    list-style-type: none;
    font-size: 16px;
}

.info {
    width: 75%;
}

.info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 8px;
    line-height: 1.5;
}

.things-gallery {
    width: 75%;
    margin-top: 20px; /* Space between the section and other content */
}

.things-gallery h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Space below the heading */
}

.food-items-container, .drink-items-container, .cigarette-items-container, .game-card-items-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Space between items */
}

.food-item {
    background-color: #424681;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Uniform height for items */
}

.drink-item {
    background-color: #005f73;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Uniform height for items */
}

.cigarette-item {
    background-color: #00735a;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Uniform height for items */
}

.game-card-item {
    background-color: #254600;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Uniform height for items */
}

.food-item .image, .drink-item .image, .cigarette-item .image, .game-card-item .image {
    width: 100%;
    height: 200px; /* Uniform height for images */
    background-color: #0a9396;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.food-item p, .drink-item p, .cigarette-item p, .game-card-item p {
    margin: 0;
    font-size: 14px;
}